body {
  background-image: url("../../not-code/gradient-night.jpg"); 
  color: white;
  text-align: center;
  background-color: #e8fcfc;
  background-size: cover;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
  overflow: visible;
  font-family: Avenir;
}

header {
  font-size: 2.5em;
  font-family: auto;
}

a {
  text-decoration: none;
  color: inherit;
}


li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1vw;
}

ul {
  margin-left: 0;
}

.movies img {
  max-width: 15vw;
  max-height: 30vh;
}

.intro {
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  display: inline-block;
  padding: 1em 2em 2em 2em;
  font-family: Avenir, sans-serif;
  margin-bottom: 15vh;
}

p {
  font-size: 2.5em;
  margin-top: 7vh;
}


.movies {
  display: inline-block;
  margin-bottom: 15vh;
}

.chess {
  display: inline-block;
  margin-bottom: 15vh;
}

.chess img {
  height: 11vh;
}

.intro img {
  float: right;
  width: 20vw;
  /*margin: auto 5vw auto 10vw; */
  margin: auto 3vw 3vh 2vw;
}